<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.silive.innovacion19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DeveloperActivity"></activity>
        <activity android:name=".activity.IpActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.BotActivity" />
        <activity android:name=".activity.RelayActivity" />
        <activity android:name=".activity.LedActivity" />
        <activity android:name=".activity.MainActivity"></activity>
    </application>

</manifest>